{{> _home_header}}

        <section class="banner inner-page">
        	<div class="banner-img"><img src="images/banner/courses-banner.jpg" alt=""></div>
            <div class="page-title">	
	            <div class="container">
                    <h1>package details</h1>
                </div>
            </div>
        </section>
        <section class="breadcrumb">
        	<div class="container">
            	<ul>
                	<li><a href="#">Home</a></li>
                  
                    <li><a href="#">Package details</a></li>
                </ul>
            </div>
        </section>
        <div class="course-details">
        	<div class="container">
            	<h2>{{package.packageName}}</h2>
	            <div class="course-details-main">
                    <div class="course-img">
                        <img src="{{package.filepath}}" alt="" style="width:100%">
                    </div>
           
                    <div class="row">
                    
                        <div class="col-sm-12">
                        	<div class="btn-row">
                            	<div class="price"><span>Price: </span>$45</div>
                                
                                <a href="cart.html" class="btn"><i class="fa fa-cart-plus"></i>Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="info">
                	<h4>Package Overview</h4>
             <p></p>
                        </div>
                <div class="instructors">
                	<h4>Package Elements</h4>
                         
                    <div class="row">
                        {{#each package.Element}}
                    	<div class="col-sm-4">
                        	<div class="instructors-box">
                            	<div class="img"><img src="{{this.element.filepath}}" alt="" style="height:600px,width:300px"></div>
                                <div class="name">{{this.element.name}}</div>
                                <p>{{this.element.remarks}}</p>
                                <div class="link"><a href="instructor-profile.html">More Info</a></div>
                            </div>
                        </div>
                             {{/each}}
                        
                    </div>
                  
                </div>
             
            </div>
        </div>
        <footer id="footer">
        	<div class="footer-top">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-6 col-md-3">
                        	<h5>Popular Courses</h5>
                            <div class="course-slide">
                            	<div class="img"><img src="images/blog/post-img1.jpg" alt=""></div>
                                <p><a href="courses-list.html">when an unknown printer took </a></p>
                                <div class="price">$55</div>
                            </div>
                            <div class="course-slide">
                            	<div class="img"><img src="images/blog/post-img2.jpg" alt=""></div>
                                <p><a href="courses-list-sideBar.html">when an unknown printer took </a></p>
                                <div class="price">$505</div>
                            </div>
                            <div class="course-slide">
                            	<div class="img"><img src="images/blog/post-img3.jpg" alt=""></div>
                                <p><a href="courses-list.html">when an unknown printer took </a></p>
                                <div class="price">$178</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        	<div class="row">
                            	<div class="col-md-offset-1 col-sm-6 col-md-5 col-xs-6">
                                	<h5>Company</h5>
                                    <ul class="footer-link">
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="event.html">Event</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="instructor-profile.html">Instructor Profile</a></li>
                                    </ul>	
                                </div>
                                <div class="col-md-offset-1 col-sm-6 col-md-5 col-xs-6">
                                	<h5>Links</h5>
                                    <ul class="footer-link">
                                    	<li><a href="courses-list.html">Courses List</a></li>
                                        <li><a href="price-plan.html">Pricing Table</a></li>
                                        <li><a href="instructors.html">Instructors</a></li>
                                        <li><a href="forums.html">Forums</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                    </ul>	
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                        	<h5>Contact Us</h5>
                            <div class="contact-view">
                            	<div class="contact-slide">
                                	<p><i class="fa fa-location-arrow"></i>76 Woodland Ave. Sherman Drive  <br>Fort Walton Beach,Harlingen</p>
                                </div>
                                <div class="contact-slide">
                                	<p><i class="fa fa-phone"></i>+299 97 39 82</p>
                                </div>
                                <div class="contact-slide">
                                	<p><i class="fa fa-fax"></i>(08) 8971 7450</p>
                                </div>
                                <div class="contact-slide">
                                	<p><i class="fa fa-envelope"></i><a href="mailTo:academy@info.com">academy@info.com</a></p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        	<div class="container">
            	<div class="row">
                	<div class="col-sm-8">
            			<div class="copy-right">
                        	<p>Copyright © <span class="year">2016</span> Academy.</p>
                            <ul class="footer-link">
                            	<li><a href="#">Terms and Conditions</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 ">	
                    	<div class="social-media">
                        	<ul>
                            	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="js/placeholder.js"></script>
    <script type="text/javascript" src="js/coustem.js"></script>
</body>

<!-- Mirrored from design.dev.drcsystems.ooo:8084/themeforest/academy/html/course-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 May 2021 10:37:39 GMT -->
</html>

